/* Navigation-bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 5vw;
    height: 64px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

nav .navbar {
    display: flex;
    gap: 32px;
    align-items: end;
}

nav .nav-link {
    color: var(--txt-color);
    font-weight: 700;
    border: 4px solid transparent;
}

nav .nav-link:hover {
    color: var(--link-hover-color);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); 
    text-decoration: underline 4px;
    text-underline-offset: 5px;
}

nav img {
    margin-right: auto;
    height: 56px;

}


/* index.html */


/* Header Section */


header {
    padding: 80px 8vw;
}

.horizontal {
    display: flex;
    align-items: center;
    gap: 32px;
}

.horizontal img {
    height: 320px;
}

.vertical {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.vertical h1 {
    padding-bottom: 24px;
}

.vertical span {
    flex-grow: 1;
}

.vertical a {
    margin-bottom: 24px;
}

/* header img:hover {
    transform: scale(1.03); }
        /* Vergrößert das Bild um 3% */




/* Main Section */

.main-index-html {
    background-color: var(--main-bg-light-gray);
    padding: 0 8vw;
}

main h1 {
    padding: 36px;
    text-align: center;
}

.main-section-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.main-section-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-weight: 700;
}

main img {
    width: 228px;
    height: 228px;
    object-fit: cover;
    object-position: center;
}

/* LOWER SECTION */

.lower-section {
    padding: 0 8vw 80px 8vw;
}

.lower-section h1 {
    padding: 36px;
    text-align: center;
}

.lower-section-topic {
    display: flex;
    gap: 32px;
}

.lower-section-topic span {
    width: auto;
    padding-top: 16px;
}


.lower-section-topic img {
    width: 228px;
    height: 228px;
}


/* Footer SECTION */

footer {
    height: 118px;
    padding: 0 80px;
    background-color: var(--footer-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    height: 56px;
    border-radius: 0;
    filter: brightness(0) invert(1);
}

.socials img {
    border-radius: 0;
    height: 40px;
    border-radius: 5px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 16px;
}


/* rezepte_abc.html */

/* Rezept-info Section */
.meal {
    padding: 80px 8vw 0 8vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 32px;
    padding-bottom: 24px;
}

.meal-img {
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
}

.info {
    padding-top: 24px;
    display: flex;
    gap: 24px;
}

.meal-info {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--main-bg-light-gray);
    padding: 6px 10px;
    border-radius: 8px;
}

.meal-info img {
    width: 16px;
    height: 16px;
    object-fit: contain;
    border-radius: 0;
}

/* Zutaten Section */
.ingredients {
    padding: 0 8vw 32px 8vw;
}

hr {
    background-color: var(--main-bg-light-gray);
    border-width: 0;
    width: 100%;
    height: 2px;
    margin-bottom: 16px;
    margin-top: 64px;
}

.portions {
    display: flex;
    align-items: center;
}

.portions span {
    padding-right: 8px;
}

.portions button {
    width: 150px;
    height: 40px;
    background-color: #008000;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.portions button:hover {
    background-color: #026e02;
}

input[type="number"] {
    height: 40px;
    width: 150px;
    margin-left: 8px;
    padding-left: 8px;
    border: 1px solid var(--main-bg-light-gray);
    border-radius: 8px 0 0 8px;
    font-weight: bold;
    font-size: 14px;
}

#false {
    color: darkred;
}

table {
    width: 100%;
    padding-top: 24px;
    border-spacing: initial;
}

td {
    height: 48px;
}

.tbl-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 32px;
    width: 20%;
}

.tbl-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

tr:nth-child(odd) {
    background-color: var(--main-bg-light-gray);
}


/* Zubereitung Section */
.preperation {
    padding: 0 8vw 32px 8vw;
}

.preperation p {
    margin-top: 32px;
}


/* Erstellt von Section */
.created-by {
    padding: 0 8vw 80px 8vw;
}

h3 {
    padding-bottom: 24px;
}

.created-by img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 32px;
}


/* Contact-Form  */

textarea {
    height: 200px;
    border: none;
    border-radius: 8px;
    resize: vertical;
    padding: 8px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    background-color: #DCDCDC;
    gap: 32px;
    padding: 16px;
    border-radius: 16px;
    width: 500px;
}

.contact-form input {
    height: 32px;
    width: auto;
    border-radius: 8px;
    border: none;
    font-weight: 300;
    padding-left: 8px;
}

.contact-form button {
    width: 150px;
    height: 40px;
    background-color: #008000;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.your-information {
    display: flex;
    flex-direction: column;
}

.send {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-grow: 1;
}


@media(max-width:1000px) {}

@media(max-width: 800px) {}